<div class="about">
  Jesteśmy grupą która non-profit prowadzi serwer Teamspeak3. Działalność swoją zaczeliśmy dość dawno bo około roku 2012 pod użyczoną nam zarówno nazwą jak i hostingiem od ocean.szczecin.pl.
  Po około roku postanowiliśmy się przerzucić na własną domenę teamspot.eu pod którątrwamy po dzień dzisiejszy. Dzięki wysiłkom naszej administracji  serwer jest spokojnym miejscem,
  wszelkie próby zakłócania spokoju  i łamania regulaminu kończymy błyskawicznie wymierzając kare adekwatną do popełnionego wykroczenia.
  Serwer posiada bota (aktualnie w fazie testów) autorstwa Overflowed . Kluczowymi funkcjami bota jest łatwe odzyskiwanie dostępu do channel admina na własnym pokoju przez użytkownika oraz system punktacji,
  za który użytkownicy w przyszłości będą mogli kupić sobie dostęp do ciekawych opcji np. własna emotka, pokój vip itp.
</div>
