<div class="about">
  Początki naszego serwera sięgają 2012 roku, wtedy funkcjonował pod inną nazwą mianowicie ocean-szczecin.pl. Hostowany na serwerze dedykowanym, przyjaciela aktualnego właściciela serwera, P5ychola.
  Nazwa ocean-szczecin.pl była użyczona nam na około rok. Po pewnym czasie P5ychol postanowił usamodzielnić teamspeak i na przełomie 2013-2014, nazwa została zmieniona na teamspot.eu.
  Nasz serwer jest relatywnie spokojnym miejscem, chcemy by ludzie, którzy tu przychodzą odczuwali relaks niż frustracje, dlatego też staramy się dbać o spokój na pokojach prywatnych, a wszelkie niepotrzebne i dziecinny
  kończy się szybki permanentny banem. Znajdziecie tu również autorskiego bota pisanego pod nas serwer, jego kluczowymi funkcjami jest łatwe odzyskiwanie dostępu do channel admina na własnym pokoju przez użytkownika oraz system punktacji,
  za który użytkownicy w przyszłości będą mogli kupić sobie dostęp do ciekawych opcji typu własna emotka, pokój vip itd. Serwer stoi na linuxie pod Francuską flagą hostowany przez firmę ovh. W razie jakich kolwiek pytan lub sugesti proszę
  kontaktować się z nami pod adresem email: <span class="email">kontakt@teamspot.eu</span> lub kanale sprawa dla admina.
</div>
