<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a [routerLink]="['/regulamin']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Regulamin</a>
  <a [routerLink]="['/administracja']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Administracja</a>
  <a [routerLink]="['/bot']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Bot</a>
  <!-- <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Logowanie</a> -->
</nav>
