<ul>
  <li>• Admin ma zawsze racje.</li>
  <li>• Admin nie zajmuję się przenoszeniem na inne kanały.</li>
  <li>• Ranga Admin Server Query służy do pomocy technicznej.</li>
  <li>• Ranga Admin służy do utrzymywania porządku na serwerze.</li>
  <li>• Admin może interweniować jeśli uzna, że zachowanie użytkownika jest niestosowne, a nie zostało uwzględnione w regulaminie.</li>
  <li>• Nie wchodzimy na kanały innych użytkowników nieproszeni.</li>
  <li>• Nie przeszkadzać użytkownikom z innych kanałów.</li>
  <li>• Nie „skaczemy” po kanałach.</li>
  <li>• Nie nadużywamy opcji „Poke”.</li>
  <li>• Na ogólnodostępnych kanałach zachowujemy kulturę.</li>
  <li>• Nie puszczamy muzyki na nie przeznaczonych do tego kanałach.</li>
  <li>• Zabrania się używania takiego samego nicku jak administracja w jakiejkolwiek postaci.</li>
  <li>• Nie rozsyłamy linków do:
    <ul>
      <li>✦ głosowań</li>
      <li>✦ innych TS</li>
      <li>✦ kanałów YT, twitch itp</li>
    </ul>
  </li>
  <li>• Zabrania się umieszczania reklam w jakiejkolwiek postaci w opisach pokoi, avatarach itp.</li>
  <li>• Avatary, nicki i pokoje użytkowników nie mogą zawierać żadnych treści rasistowskich, pornograficznych, obraźliwych i ogólnie uznanych za niestosowne. </li>
  <li> •Administracja nie zajmuje się karaniem użytkowników zakłócających porządek na kanałach użytkowników nie chronionych hasłem.</li>
</ul>
