<div class="icons">
  <span><a href="https://www.facebook.com/teamspot.eu/?fref=ts"><img src="../static/assets/fb.png" alt="fb link" width="30" height="30"/></a></span>
  <span><a href="http://steamcommunity.com/groups/teamspotgroup"><img src="../static/assets/steam.png" alt="steam link" width="30" height="30"/></a></span>
  <span><a href="teamspeak://teamspot.eu:9987"><img src="../static/assets/ts.png" alt="teamspeak3 link" width="30" height="30"/></a></span>
</div>

<div class="credits">
 Designed by TurboTapczan
</div>
